@model User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

    <div class="main-container py-5">
        <div class="container pb-5">
            <div class="col col-12 col-md-8 py-5 mx-auto">
                <p class="main-title fs-1">Работа найдется для каждого</p>
                <div class="row row-cols-2 mt-4">
                    <div class="col-9">
                        <input class="form-control form-control-lg border-primary rounded-1" type="text"
                            placeholder="Профессия, должность или компания" aria-label=".form-control-lg example">
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary rounded-1 btn-lg"> Найти работу</button>
                    </div>
                </div>
                <div class="mt-4">
                    <a href="#" class="text-white mt-5">Я ищу сотрудника</a>
                </div>
            </div>
        </div>
    </div>

    <div class="post-container mt-5 ">
        <div class="container">
            <h3 class="post-main-title ">Featured Post</h3>
            <div class="row g-0 post-block p-4 rounded-3 mt-4">
                <div class="col col-12 col-md-6  col-lg-7 ">
                    <img src="./images/photo.jpg" alt="FeaturedPost-photo" class="w-100 rounded-2">
                </div>
                <div class="col col-12 col-md-6 col-lg-5">
                    <div class="alert ms-0 ms-md-3 ">
                        <h1 class=" post-title ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor.</h1>
                        <p class="post-text mt-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <a href="#" class="btn post-botton py-2 px-5 mt-4">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="categ-container mt-5">
        <div class="container">
            <h3 class="categ-title"> Все категории </h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mt-4">
                <div class="col mb-4">
                    <a href="#">
                        <div class="card rounded-0  h-100 pt-5 px-2">
                            <div class="card-body card-bg card-bg-1">
                                <h3 class="card-title mt-5">Business</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. lore</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col mb-4">
                    <a href="#">
                        <div class="card rounded-0 h-100 pt-5">
                            <div class="card-body card-bg card-bg-2">
                                <h3 class="card-title mt-5">Startup</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col mb-4">
                    <a href="#">
                        <div class="card rounded-0 h-100 pt-5">
                            <div class="card-body card-bg card-bg-3">
                                <h3 class="card-title mt-5">Economy</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col mb-4">
                    <a href="#">
                        <div class="card rounded-0 h-100 pt-5">
                            <div class="card-body card-bg card-bg-4">
                                <h3 class="card-title mt-5">Technology</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="second-container mt-5">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Список вакансий</h1>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                            href="#tab-1">
                            <h6 class="mt-n1 mb-0">Featured</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                            <h6 class="mt-n1 mb-0">Full Time</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill"
                            href="#tab-3">
                            <h6 class="mt-n1 mb-0">Part Time</h6>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-1.jpg" alt=""
                                        style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">Software Engineer</h5>
                                        <span class="text-truncate me-3"><i
                                                class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                        <span class="text-truncate me-3"><i
                                                class="far fa-clock text-primary me-2"></i>Full Time</span>
                                        <span class="text-truncate me-0"><i
                                                class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                    </div>
                                </div>
                                <div
                                    class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-primary rounded-1" href="">Откликнуться</a>
                                    </div>
                                    <small class="text-truncate"><i
                                            class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                        2045</small>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="list-container mt-5">
        <div class="container">
            <h3 class="list-title text-center">List of Authors </h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mt-5">
                <div class="col mb-4">
                    <div class="card h-100 text-center p-3 border-0 bg-light ">
                        <div class=" mx-auto mt-4 w-50">
                            <img src="./images/person-1.jpg" alt="person3-photo" class="rounded-circle">
                        </div>
                        <div class="card-body">
                            <h5 class="list-names">Floyd Miles</h5>
                            <p class="list-text">Voluptates nesciunt vitae quas amet praesentium amet</p>
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            <button type="button" class="btn list-button rounded-0 px-5 py-2">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100 text-center p-3 border-0 bg-light">
                        <div class=" mx-auto mt-4 w-50">
                            <img src="./images/person-2.jpg" alt="person3-photo" class="rounded-circle">
                        </div>
                        <div class="card-body">
                            <h5 class="list-names">Dianne Russell</h5>
                            <p class="list-text">Voluptates nesciunt vitae</p>
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            <button type="button" class="btn list-button rounded-0 px-5 py-2">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100 text-center  py-3 border-0 bg-light">
                        <div class=" mx-auto mt-4 w-50">
                            <img src="./images/person-3.jpg" alt="person3-photo" class="rounded-circle">
                        </div>
                        <div class="card-body">
                            <h5 class="list-names">Jenny Wilson</h5>
                            <p class="list-text">Voluptates nesciunt vitae</p>
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            <button type="button" class="btn list-button rounded-0 px-5 py-2">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100 text-center p-3 border-0 bg-light">
                        <div class=" mx-auto mt-4 w-50">
                            <img src="./images/person-4.jpg" alt="person3-photo" class="rounded-circle">
                        </div>
                        <div class="card-body">
                            <h5 class="list-names"> Leslie Alexander </h5>
                            <p class="list-text">Voluptates nesciunt vitae </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent ">
                            <button type="button" class="btn list-button rounded-0 px-5 py-2">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
        const myModal = document.getElementById('subscribe')
        const myInput = document.getElementById('user-name')

        myModal.addEventListener('shown.bs.modal', () => {
            myInput.focus()
        })
    </script>

