<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HeadHunter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HeadHunter.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header bg-dark">
            <nav class="navbar p-0 navbar-expand-lg " style="background-color: #ffffff;">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="./images/logo.png" height="50" alt=""> </a>
                    <button class="navbar-toggler text-white btn-tog ms-auto me-2 px-2 rounded-0 border-2 text-white"
                        type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <button class="button-sub border-0 rounded-0 order-lg-1 bg-light text-primary px-5 " type="button"
                        data-bs-toggle="modal" data-bs-target="#subscribe"> Subscribe </button>
                    <div class="collapse navbar-collapse " id="navbarNav">
                        <ul class="navbar-nav me-auto ">
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2 text-dark" href="#">Домой</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2 text-dark" href="#">Соискателям</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2 text-dark" href="#"> Работодателям </a>
                            </li>
    
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HeadHunter - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
